*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 20px 0 10px;
}

.line {
    margin: 20px auto;
    display: block;
    width: 80%;
    height: 2px;
    background-color: #666;
    border-radius: 10px;
}

.body-container {
    margin: 20px 10%;
    background-color: #efefef;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2;
    position: relative;
}

.body-container__paragraph {
    padding: 20px 20px 20px;
}

.body-container__image {
    height: 100px;
    width: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #00000011;
}

.description {
    text-align: center;
}